<!doctype html>
<html lang="en">
<head>
    <!-- custom css for overriding the above -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</script>
</head>

<header id="header">
</header>

<body>
    <div class="container">

        <div>
            {% block title %}
            <!-- page title -->
            {% endblock title %}
        </div>
        <div>
            {% block content %}
            <!-- page content -->
            {% endblock content %}
        </div>

    </div>
</body>

<footer class="footer">
</footer>