{% extends "base.html" %}
{% set active_page = active_page|default('index') -%}

{% block title %}

<h1>Register</h1>

{% endblock title %}

{% block content %}
<html>
    <head>
        <title>Flask Template Home</title>
    </head>

    <body>
    <form method="post">
        email: <input type="email" name="email" placeholder="email" /> <br/>
        name: <input type="name" name="name" placeholder="name" /> <br/>
        <button type="submit">Submit</button>
    </form>



    </body>
</html>
{% endblock content %}