{% extends "base.html" %}

{% block title %}
<h1>Undefined page!</h1>
{% endblock title %}

{% block content %}
<html>
    <head>
        <title>Page not found!</title>
    </head>
    <body>
    <p>
    {{ page }} is undefined
    </p>
    </body>
</html>
{% endblock content %}